<style>
	.ngdialog.ngdialog-theme-default .ngdialog-content {
		width: 50%;
		overflow:scroll;
		padding: 2em !important;

	}
</style>
<div class="">
  <h4 class="text text-primary">
  {{ 'RECOV-LOGIN-TITLE' | translate }}
  </h4>
  <form class="" name="reset_password-login">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          {{ 'RECOV-LOGIN-BODY' | translate }}
        </p>

        <div class="form-group top2">
          <label for="">{{'RECOV-LOGIN-PROV-LABEL' | translate}} *</label>
          <input type="password" ng-model="pass.temp" class="form-control" />
        </div>

        <div class="form-group">
          <label for="">{{ 'RECOV-LOGIN-NEW-LABEL' | translate }} *</label>
          <input type="password" ng-model="pass.new" class="form-control" />
        </div>

        <div class="form-group">
          <label for="">{{ 'RECOV-LOGIN-REP-LABEL' | translate}} *</label>
          <input type="password" ng-model="pass.rep" class="form-control" />
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-sm btn-primary col-xs-4 col-xs-offset-4">
						{{ 'RECOV-LOGIN-SENDDATA' | translate }}
					</button>
        </div>

      </div>
    </div>
  </form>
</div>
