<style>
	.ngdialog.ngdialog-theme-default .ngdialog-content {
		width: 50%;
		overflow:scroll;
		padding: 2em !important;

	}
</style>
<div class="">
  <h4 class="text text-primary">
    {{ 'RECOVER-TITLE' | translate }}
  </h4>
  <form class="" name="reset_password" ng-submit="login.sendMailRecover(reset.email)">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group">
          <p>{{ 'RECOVER-BODY' | translate }}</p>
          <label for="mail">{{ 'RECOVER-LABEL' | translate }}</label>
          <input ng-model="login.reset.email" type="email" name="mail" class="form-control" required />
        </div>
        <div class="form-group">
          <button
            type="button"
            ng-click="login.sendMailRecover(login.reset.email)"
            ng-disabled="!login.reset.email"
            class="btn btn-primary btn-sm recover-pass col-xs-4 col-xs-offset-4">{{ 'RECOVER-SEND' | translate }}</button>
        </div>
        <br/>
        <div ng-if="login.recover_error || login.recover_success">
          <div class="alert alert-danger alert-dismissible" role="alert" ng-if="login.recover_error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Correu no existent.</strong> El correu enviat no correspon a cap compte d'usuari.
          </div>

          <div class="alert alert-success alert-dismissible" role="alert" ng-if="login.recover_success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Correu enviat correctament.</strong> Aviat rebrà un enllaç per reestablir la contrasenya.
          </div>
        </div>

      </div>
    </div>
  </form>




</div>
