<style>
	.ngdialog.ngdialog-theme-default .ngdialog-content {
		width: 50%;
		overflow:scroll;
		padding: 2em !important;

	}
</style>
<div class="">
  <h4 class="text text-primary">
  {{ 'RECOV-LOGIN-TITLE' | translate }}
  </h4>
  <form class="" name="reset_password-login">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          {{ 'RECOV-LOGIN-BODY' | translate }}
        </p>

        <div class="form-group top2">
          <label for="">{{'RECOV-LOGIN-PROV-LABEL' | translate}} *</label>
          <input type="password" ng-model="login.pass.temp" class="form-control" />
        </div>

        <div class="form-group">
          <label for="">{{ 'RECOV-LOGIN-NEW-LABEL' | translate }} *</label>
          <input type="password" ng-model="login.pass.new" class="form-control" />
        </div>

        <div class="form-group">
          <label for="">{{ 'RECOV-LOGIN-REP-LABEL' | translate}} *</label>
          <input type="password" ng-model="login.pass.rep" class="form-control" />
        </div>

        <div class="form-group">
          <button type="button" ng-click="login.resetPassword(login.pass, ngDialogData)" class="btn btn-sm btn-primary col-xs-4 col-xs-offset-4">
						{{ 'RECOV-LOGIN-SENDDATA' | translate }}
					</button>
        </div>

				<div class="alert alert-danger alert-dismissible top3" role="alert" ng-if="login.differentPass">
					<button type="button" class="close" ng-click="login.differentPass=false; $hide()" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong>Les contrasenyes no coincideixen</strong> Sisplau torni a introduïr la seva contrasenya dos vegades.
				</div>

      </div>
    </div>
  </form>
</div>
