<div class="container">
	<div class="page-header">
		<h2>Users <small>Index</small></h2>
	</div>
	<div class="row">
		<div class="well">
			<h4>GetCurrentUser</h4>
			<button class="btn btn-danger" ng-click="users.getCurrentUser()">getCurrentUser</button>
			<p>{{users.userr}}</p>
		</div>
		<div class="clear-fix"></div>
		<ul class="col-xs-12 col-md-12 list-unstyled" ng-repeat="user in users.allUsers">
			<h4 class="text-success">user</h4>
			<li><strong>rol:</strong> {{user.partner._cls}}</li>
			<li class="id">
				<strong>id:</strong> {{user._id}}
			</li>
			<li>
				<strong>mail:</strong> {{user.email}}
			</li>
			<li>
				<strong>language:</strong> {{user.idiom}}
			</li>
			<li>
				<strong>lastname:</strong> {{user.lastName}}
			</li>
			<li>
				<strong>partner:</strong> {{(user.partner) ? user.partner : 'No partner registered'}}
			</li>
			<li>
				<strong>username:</strong> {{user.user_name}}
			</li>
			<li>
				<div class="row">
					<div class="col-xs-12">
						<button type="button" class="btn-primary" ng-click="users.openSession(user)">Open session for this User</button>
						<button type="button" class="btn-warning" ng-click="users.deleteSession(user)">Delete session</button>
					</div>
				</div>
			</li>
			<hr/>
		</ul>
	</div>
</div>