<div class="container">
  <div class="page-header">
    <h2>Usuaris de la Plataforma
    </h2>
  </div>
  <div class="row">
		<!-- <div class="col-xs-2">
			<h5 class="top1">Filtres</h5>
			<a class="centered top1">Clients</a><br/>
			<a class="centered top1">Proveidors</a><br/>
			<a class="centered top1">Admin</a><br/>
			<hr/>
		</div> -->
    <div class="col-xs-12">
			<div class="table-responsive">
	      <table class="table table-hover table-striped">
	        <thead>
	          <tr>
	            <th>Nom</th>
	            <th class="centered">Cognom</th>
							<th class="centered">Company</th>
							<th class="centered">Position</th>
							<th class="centered">Proveïdor</th>
							<th class="centered">Client</th>
	            <th class="centered">Telèfon</th>
							<th class="centered">Estat</th>
							<th class="centered">Accions</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr ng-repeat="user in users.allUsers">
	            <td>{{user.name}}</td>
	            <td class="centered">{{user.surname}}</td>
							<td class="centered">{{user.company}}</td>
							<td class="centered">{{user.jobPosition}}</td>
							<td class="centered text"><span class="label" ng-class="user.providerRole ? 'label-primary' : 'label-default'"><i class="fa" ng-class="user.providerRole ? 'fa-check' : 'fa-close'"></i></span></td>
							<td class="centered text"><span class="label" ng-class="user.clientRole ? 'label-primary' : 'label-default'"><i class="fa" ng-class="user.clientRole ? 'fa-check' : 'fa-close'"></i></span></td>
	            <td class="centered">{{user.phone}}</td>
	            <td class="centered">
	              <button ng-if="!user.activated" class="btn btn-primary btn-xs" ng-click="users.activateUser(user)">Activar</button>
	              <button ng-if="user.activated" class="btn btn-danger btn-xs" ng-click="users.deActivateUser(user)">Desactivar</button>
	            </td>
							<td class="centered">
								<button ng-click="users.editUser(user)" type="button" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
								<button type="button" class="btn btn-default btn-xs"><i class="fa fa-trash"></i></button>
							</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
    </div>
  </div>

</div>
