<div class="container">
	<div class="page-header">
		<h2 class="text text-danger"><strong>{{ 'NEWPROJ' | translate}}</strong></h2>
	</div>
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		<div class="well clearfix">
			<form action="" name="projectnew" ng-submit="newproject.createClientProject(project)">
				<div class="form-group">
					<label for="nomprojecte">{{ 'LABEL-NOM' | translate}}</label>
					<input type="text" class="form-control" id="nomprojecte" ng-model="project.name" placeholder="{{ 'LABEL-NOM' | translate }}" required>
				</div>
				<div class="form-group">
					<label for="nomprojecte">{{ 'LABEL-SUMARI' | translate}}</label>
					<textarea type="text" class="form-control" rows="2" id="summaryprojecte" ng-model="project.summary" placeholder="Resum descriptiu"></textarea>
				</div>
				<div class="form-group">
					<label for="nomprojecte">{{ 'LABEL-DESC' | translate }}</label>
					<textarea type="text" class="form-control" rows="5" id="descriptionprojecte" ng-model="project.description" placeholder="Descripció del projecte"></textarea>
				</div>
				<div class="form-group">
					<label for="nomprojecte">{{ 'LABEL-SERV' | translate }}</label>
					<select ng-model="project.services" class="form-control" multiple required>
						<option ng-repeat="serv in newproject.allServices" value="{{serv._id}}">{{serv.name}}</option>
					</select>
				</div>

				<!-- <div class="form-group">
					<label for="nomprojecte">{{ 'LABEL-SERV' | translate }}</label><br/>
					<div style="width:49%" class="panel panel-create col-xs-5" ng-class="(selected) ? 'clicado' : ''" ng-repeat="serv in newproject.allServices" ng-click="selected=!selected;newproject.clickService(serv)">
						<div class="panel-body">
							<span><strong>{{serv.name}}</strong></span><br/>
							<span>{{serv.summary}}</span><br/>
							<h4 class="text text-success icon"><i ng-class="(selected) ? 'fa fa-check-square' : ''"></i></h4>
						</div>
					</div>
				</div> -->


				<div class="row">
					<div class="col-xs-3 col-xs-offset-3">
						<span class="input-group-btn">
								<button class="btn btn-success btn-block" type="submit">
									<i class="fa fa-plus"></i>&nbsp;&nbsp;{{ 'BTN-SAVE' | translate }}
								</button>
						</span>
					</div>
					<div class="col-xs-3">
						<span class="input-group-btn">
								<button ng-click="newproject.cancelCreateProject()" class="btn btn-danger btn-block">
									<i class="fa fa-close"></i>&nbsp;&nbsp;Cancelar
								</button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
