<div class="container">
  <div class="page-header">
    <h2 class="text text-danger">
      Mis Servicios
    </h2>
  </div>
  <!-- Inactive projects  -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top2">
      <span class="label label-default" style="padding:.7em;padding-bottom:.8em;">Serveis No Publicats&nbsp;&nbsp;<span class="badge left1">{{ownproj.allMyInactiveProjects.length}}</span></span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="top1">
        <div class="table-responsive">
          <table id="myInactiveProjects" class="table table-hover table-striped">
            <thead>
              <tr>
                <th class="col-xs-10 col-sm-9 col-md-9 col-lg-10">
                  <a ng-click="ownproj.sortTypeInactive = 'service.name'; ownproj.sortInactiveReverse = !ownproj.sortInactiveReverse">
                    {{ 'SRV-SERVEI' | translate }}
                    <span ng-show="ownproj.sortTypeInactive == 'service.name' && !ownproj.sortInactiveReverse" class="fa fa-sort-alpha-asc"></span>
                    <span ng-show="ownproj.sortTypeInactive == 'service.name' && ownproj.sortInactiveReverse" class="fa fa-sort-alpha-desc"></span>
                  <a/>
                </th>
                <th class="col-xs-2 col-sm-3 col-md-3 col-lg-2">{{ 'SRV-ACCIONS' | translate }}</th>
              </tr>
                </thead>
                <tbody>
                  <tr data-toggle="collapse" data-target="#kkk{{$index}}" class="clickable"
                    ng-repeat-start="inactive in ownproj.allMyInactiveProjects | orderBy:ownproj.sortTypeInactive:ownproj.sortInactiveReverse | filter: searchingWord">
                    <td class="vert-align">
                      {{inactive.name}}
                    </td>
                    <td class="vert-align">
                      <button class="btn btn-primary btn-xs" ng-click="ownproj.publishSrvInCatalogue(inactive)">
                        <i class="fa fa-check-circle"></i>
                        &nbsp;Publicar
                      </button>
                      <button class="btn btn-default btn-xs" ng-click="ownproj.createAnonymousProject(inactive)">
                        <i class="fa fa-plus-square"></i>
                        &nbsp;Proyecto
                      </button>
                    </td>
                  </tr>
                  <tr ng-repeat-end>
                    <td colspan="2">
                      <div class="collapse" id="kkk{{$index}}">
                        {{inactive | json}}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Active projects -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top2">
          <span class="label label-default label-grey" style="padding:.7em;padding-bottom:.8em;">Serveis Publicats&nbsp;&nbsp;<span class="badge left1">{{ownproj.allMyActiveProjects.length}}</span></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="top1">
            <div class="table-responsive">
              <table id="myActiveProjects" class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th class="col-xs-10 col-sm-9 col-md-9 col-lg-10">
                      <a ng-click="ownproj.sortTypeActive = 'name'; ownproj.sortActiveReverse = !ownproj.sortActiveReverse">
                        {{ 'SRV-SERVEI' | translate }}
                        <span ng-show="ownproj.sortTypeActive == 'name' && !ownproj.sortActiveReverse" class="fa fa-sort-alpha-asc"></span>
                        <span ng-show="ownproj.sortTypeActive == 'name' && ownproj.sortActiveReverse" class="fa fa-sort-alpha-desc"></span>
                      <a/>
                    </th>
                    <th class="col-xs-2 col-sm-3 col-md-3 col-lg-2">{{ 'SRV-ACCIONS' | translate }}</th>
                  </tr>
                    </thead>
                    <tbody>
                      <tr
                        ng-repeat="active in ownproj.allMyActiveProjects | orderBy:ownproj.sortTypeActive:ownproj.sortActiveReverse | filter: searchingWord">
                        <td class="vert-align">
                          {{active.name}}
                        </td>
                        <td class="vert-align">
                          <button class="btn btn-default btn-xs" ng-click="ownproj.hideSrvInCatalogue(active)">
                            <i class="fa fa-ban"></i>
                            &nbsp;Ocultar
                          </button>
                          <button class="btn btn-primary btn-xs" ng-click="ownproj.createAnonymousProject(active)">
                            <i class="fa fa-plus-square"></i>
                            &nbsp;Proyecto
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    </div>
