.label-grey {
  background-color: #1d4976;
}

#myActiveProjects {
	thead th, thead th a {
		background-color: #1d4976;
		color:white;
		text-decoration: none;
	}
}

.badge {
  background-color: #3cb521;
}
