.label-grey {
  background-color: #1d4976;
}

#myActiveProjects {
	thead th, thead th a {
		background-color: #1d4976;
		color:white;
		text-decoration: none;
	}

  tr {
    cursor:pointer;
  }
}

.badge {
  background-color: #3cb521;
}

#myInactiveProjects {
  tr td {
    cursor:pointer;
  }
  tr td div {
    cursor: default;
  }
}

#myActiveProjects {
  tr td {
    cursor:pointer;
  }
  tr td div {
    cursor: default;
  }
}

.bg-unpublish {
  background-color: rgba(71,73,73,.12);
}

.bg-publish {
  background-color: rgba(16,106,197,.2);
}

.progressbar-ownproject {
  margin-bottom:0;
  margin-top:2px;
}
