<style media="screen">
  .ngdialog.ngdialog-theme-default.delete-project .ngdialog-content {
    margin-top:2em;
    padding:2em;
    margin-top:2em;
    width: 40%;
    height: 180px;
    overflow:hidden;

    .confirm-dialog {
        margin-top:2em;
        padding:2em;

    }

  }
</style>

<div>
  <div class="confirm-dialog" style="padding-bottom: 2em;">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>{{'DEL-PROJ-MSG' | translate}} <span class="text text-primary">{{ngDialogData.projectToRemove.name}}</span> ?</h4>
        <br/>
        <button ng-click="ngDialogData.deleteProject(ngDialogData.projectToRemove._id)" class="btn btn-sm btn-primary" type="button">Eliminar</button>
        <button ng-click="ngDialogData.closeDialog()" class="btn btn-sm btn-default" type="button">Cancelar</button>
      </div>
    </div>

  </div>
</div>
