<style media="screen">
  .ngdialog.ngdialog-theme-default.delete-project .ngdialog-content {
    margin-top:2em;
    padding:2em;
    margin-top:2em;
    width: 40%;
    height: 160px;
    min-height:160px;
    overflow:hidden;

    .confirm-dialog {
        margin-top:2em;
        padding:2em;
    }

  }
</style>

<div>
  <div class="confirm-dialog">
    <h4>Segur que vols eliminar el projecte <span class="text text-primary">{{ngDialogData.projectToRemove.name}}</span>?</h4>
    <br/>
    <button ng-click="ngDialogData.deleteProject(ngDialogData.projectToRemove._id)" class="btn btn-sm btn-primary" type="button">Si</button>
    <button ng-click="ngDialogData.closeDialog()" class="btn btn-sm btn-default" type="button">No</button>
  </div>
</div>
