<style media="screen">
  .ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 80%;
    overflow: scroll;
    padding: 2em;
    height: 100%;
    min-height: 750px;
  }

</style>
<div class="">
  <h4 class="text text-primary">{{'PUBL-SRV-BTN' | translate}}</h4>
  <form class="create-service-form" name="createserviceform" id="createserviceform">
    <uib-tabset class="top3" active="createproj.active">
      <uib-tab select="createproj.hideButtons = false" index="0" heading="{{ 'GENERAL-DATA' | translate }}">
        <div class="panel panel-default padding1">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <h5 class="text text-primary top1">
                  {{ 'BASIC-INFO' | translate }}
                </h5>
              </div>
            </div>
            <div class="form-fields">
              <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                  <div class="top1">
                    <label for="name">{{'LABEL-NOM' | translate}}
                      *</label>
                    <input type="text" name="name" class="form-control" ng-model="createproj.srv.title" placeholder="{{ 'SRV-NAME-PLACE' | translate }}" required/>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="top1">
                    <label for="type">{{ 'SERVICE-TYPE' | translate }}
                      *</label>
                    <select name="type" class="form-control" ng-options="item.description for item in createproj.allTypes" ng-model="createproj.srv.type" required>
                      <option value="" disabled>{{ 'SRV-SELECT-DEFAULT' | translate }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row top1">
                <div class="col-xs-8">
                  <label for="">{{'LABEL-DESC' | translate}}
                    *</label>
                  <textarea rows="2" type="text" class="form-control" ng-model="createproj.srv.description" placeholder="{{ 'SRV-DESC-PLACE' | translate }}" required></textarea>
                </div>
                <div class="col-xs-4">
                  <label for="">Logotip del servei</label>
                  <input type="file" ng-model="createproj.srv.loguito" ng-change="createproj.uploadLogo()" file-model="createproj.myFile" class="form-control" />
                  <!-- <button type="button" ng-click="createproj.uploadLogo()" class="btn btn-sm btn-block btn-primary">Pujar Imatge</button> -->
                </div>
                <div class="col-xs-8 top1">
                  <label for="">{{'LABEL-SUMARI' | translate}}
                    *</label>
                  <input type="text" class="form-control" ng-model="createproj.srv.summary" placeholder="{{'SRV-SUM-PLACE' | translate}}" required>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- here add next button -->
        <div class="col-xs-3 col-xs-offset-5 top3" style="width:200px">
          <a ng-click="createproj.active = 1" class="btn btn-primary btn-sm btn-block">Següent&nbsp;&nbsp;<i class="fa fa-forward"></i>
          </a>
        </div>
        <!-- here add next button -->
      </uib-tab>
      <uib-tab index="1" heading="{{ 'PARAMS' | translate }} I" select="createproj.hideButtons = false">
        <div class="panel panel-default padding1">
          <div class="panel panel-body">
            <div class="row">
              <div class="col-xs-12">
                <h5 class="text text-primary top1 bottom2">{{ 'CUSTOMER-PARAMS' | translate }}</h5>
              </div>
            </div>
            <div class="param-template" ng-repeat="template in createproj.templates">

              <!-- formulary content -->
              <div class="row">
                <div class="col-xs-12">
                  <label for="filepath">{{ 'CONF' | translate }}
                    *</label>
                  <input type="text" ng-model="createproj.templates[$index].path" placeholder="{{ 'CONF-PATH' | translate }}" class="form-control" required/>
                </div>
              </div>

              <div class="col-xs-12" ng-repeat="param in template.choices">
                <div class="col-xs-12 difuminar">
                  <ul class="list list-inline top1">
                    <li class="col-xs-12 col-sm-12 col-md-3">
                      <label for="name">{{ 'LABEL-NOM' | translate }}
                        *</label>
                    </li>
                    <li class="col-xs-12 col-sm-12 col-md-2">
                      <label for="type">{{ 'TYPE-TITLE' | translate }}
                        *</label>
                    </li>
                    <li class="col-xs-12 col-sm-12 col-md-1">
                      <label for="required">Oblig.</label><br/>
                    </li>
                    <li class="col-xs-11 col-sm-11 col-md-5">
                      <label for="description">{{ 'LABEL-DESC' | translate }}
                        *</label>
                    </li>
                    <li class="col-xs-1 col-sm-1 col-md-1"></li>
                  </ul>
                </div>
                <ul class="list list-inline top1">
                  <li class="col-xs-12 col-sm-12 col-md-3">
                    <input type="text" name="name" ng-model="createproj.templates[$parent.$index].choices[$index].name" placeholder="{{ 'FIELD-NAME' | translate }}" class="form-control" required/>
                  </li>
                  <li class="col-xs-12 col-sm-12 col-md-2">
                    <select class="form-control" ng-options="item.name for item in createproj.types" ng-model="createproj.templates[$parent.$index].choices[$index].type" required>
                      <option value="" disabled>{{ 'TYPE-PLACE' | translate }}</option>
                    </select>
                  </li>
                  <li class="col-xs-12 col-sm-12 col-md-1">
                    <input type="checkbox" class="form-control centered check-required" name="required" ng-model="createproj.templates[$parent.$index].choices[$index].required">
                  </li>
                  <li class="col-xs-11 col-sm-11 col-md-5">
                    <input type="text" name="description" class="form-control" ng-model="createproj.templates[$parent.$index].choices[$index].description" placeholder="{{ 'FIELD-DESC' | translate }}" required/>
                  </li>
                  <li class="col-xs-1 col-sm-1 col-md-1">
                    <a class="btn btn-default btn-xs top1" style="color:white;" ng-if="template.choices.length > 0" ng-show="$last" ng-click="createproj.removeParam(template)">
                      <i class="fa fa-minus"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- ng-repeat params -->
              <div class="row">
                <div class="col-xs-12 left1 pull-left clearfix top1">
                  <a class="btn btn-xs btn-primary" ng-click="createproj.addNewParam(createproj.templates[$index])">
                    <i class="fa fa-plus"></i>&nbsp;{{'PARAM' | translate}}</a>
                </div>
              </div>
            </div>
            <!-- ng-repeat templates -->
            <div class="row">
              <div class="col-xs-12 left1 pull-left clearfix top1">
                <a class="btn btn-xs btn-primary" ng-click="createproj.addNewTemplate()">
                  <i class="fa fa-plus"></i>&nbsp;Plantilla</a>
                <a class="btn btn-xs btn-default" ng-if="createproj.templates.length > 0" ng-hide="$first" ng-click="createproj.removeTemplate()">
                  <i class="fa fa-minus"></i>&nbsp;&nbsp;Plantilla</a>
              </div>
            </div>
            <!-- <div class="row clearfix">
              <div class="col-xs-12">
                <pre class="top2">{{createproj.templates | json}}</pre>
              </div>
            </div> -->

          </div>
        </div>

        <!-- here add next button -->
        <div class="col-xs-3 col-xs-offset-5 top3" style="width:200px">
          <a ng-click="createproj.active = 2" class="btn btn-primary btn-sm btn-block">Següent&nbsp;&nbsp;<i class="fa fa-forward"></i>
          </a>
        </div>
        <!-- here add next button -->

      </uib-tab>
      <uib-tab index="2" heading="{{ 'PARAMS' | translate }} II" select="createproj.hideButtons = false">
        <div class="panel panel-default padding1">
          <div class="panel panel-body">
            <div class="top1">
              <h5 class="text text-primary">{{ 'RUNTIME-PARAMS' | translate }}</h5>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="list list-inline">
                  <li class="col-xs-12 col-sm-12 col-md-3">
                    <label for="name">{{ 'LABEL-NOM' | translate }}
                      *</label>
                    <input type="text" name="name" ng-model="createproj.srv.rtime.name" placeholder="{{ 'SRV-NAME-PLACE' | translate }}" class="form-control" required/>
                  </li>
                  <li class="col-xs-12 col-sm-12 col-md-2">
                    <label for="type">{{ 'TYPE-TITLE' | translate }}
                      *</label>
                    <select class="form-control" ng-options="item.name for item in createproj.types" ng-model="createproj.srv.rtime.type" required>
                      <option value="" disabled>{{ 'TYPE-PLACE' | translate }}</option>
                    </select>
                  </li>
                  <li class="col-xs-12 col-sm-12 col-md-1">
                    <label for="required">Oblig.</label><br/>
                    <input type="checkbox" class="form-control centered check-required" name="required" ng-model="createproj.srv.rtime.required">
                  </li>
                  <li class="col-xs-12 col-sm-12 col-md-6">
                    <label for="description">{{ 'LABEL-DESC' | translate }}
                      *</label>
                    <input type="text" name="description" class="form-control" ng-model="createproj.srv.rtime.desc" placeholder="{{ 'FIELD-DESC' | translate }}" required/>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- here add next button -->
        <div class="col-xs-3 col-xs-offset-5 top3" style="width:200px">
          <a ng-click="createproj.active = 3" class="btn btn-primary btn-sm btn-block">Següent&nbsp;&nbsp;<i class="fa fa-forward"></i>
          </a>
        </div>
        <!-- here add next button -->

      </uib-tab>
      <uib-tab index="3" heading="{{ 'INFRASTRUCT' | translate }}" select="createproj.hideButtons = false">
        <div class="panel panel-default padding1">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <h5 class="text text-primary top1">{{ 'IAAS-SRV' | translate }}</h5>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <label class="top1">{{ 'CATAL-PROVEIDOR' | translate }}
                *<label/>
                <select class="form-control" name="" ng-options="iaas as iaas.name for iaas in createproj.iaasProvider" ng-model="createproj.srv.iaas" ng-change="createproj.setIaasProvider(createproj.srv.iaas)">
                  <option value="" disabled>{{ 'IAAS-SRV-PLACE' | translate }}</option>
                </select>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top2" ng-if="createproj.iaasSelected">
                <label>Flavor *</label>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive ">
                  <table class="table table-striped table-hover flavor-table">
                    <thead>
                      <tr>
                        <th>{{ 'LABEL-NOM' | translate }}</th>
                        <th>{{ 'MEMORY-LABEL' | translate }}</th>
                        <th>{{ 'DISK-LABEL' | translate }}</th>
                        <th>{{ 'CPUS-LABEL' | translate }}</th>
                        <th style="width:20px;">{{ 'ACTIVATED-LABEL' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr id="{{$index}}" ng-repeat="flavor in createproj.flavors" ng-model="createproj.srv.flavor" ng-class="(flavor.name == createproj.selectedRowId) ? 'success': ''" ng-click="createproj.srv.flavor = flavor;createproj.selectedRow(flavor.name)">
                        <td>{{flavor.name}}</td>
                        <td>{{flavor.ram}}</td>
                        <td>{{flavor.disk}}</td>
                        <td>{{flavor.vcpus}}</td>
                        <td>
                          <input style="width:20px;" type="checkbox" class="form-control selected-flavor" name="selectedFlavor" ng-checked="flavor.name == createproj.selectedRowId"/>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div ng-show="createproj.srv.flavor">
                  <h5>
                    <strong>{{ 'SELECTED-FLAVOR' | translate }}</strong>
                  </h5>
                  <table class="table table-striped flavor-table">
                    <tbody>
                      <tr class="info">
                        <td>{{createproj.srv.flavor.name}}</td>
                        <td>{{createproj.srv.flavor.ram}}</td>
                        <td>{{createproj.srv.flavor.disk}}</td>
                        <td>{{createproj.srv.flavor.vcpus}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>

          <!-- here add next button -->
          <div class="col-xs-3 col-xs-offset-5 top3" style="width:200px">
            <a ng-click="createproj.active = 4" class="btn btn-primary btn-sm btn-block">Següent&nbsp;&nbsp;<i class="fa fa-forward"></i>
            </a>
          </div>
          <!-- here add next button -->

        </uib-tab>
        <uib-tab index="4" heading="{{ 'DISC-IMAGE' | translate }}" select="createproj.hideButtons = false">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <h5 class="text text-primary top1">{{ 'DISC-IMAGE' | translate }}</h5>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12">
                <label class="top1">{{ 'DISC-IMAGE-TYPE' | translate }}
                  *</label>
                <select name="" class="form-control" ng-model="createproj.srv.diskImageType" ng-options="item.name for item in createproj.discImageFormat" required>
                  <option value="" disabled>{{ 'DISC-IMAGE-TYPE' | translate }}</option>
                </select>
                <br/>
              </div>
              <div class="col-xs-12 col-sm-12">
                <label class="top1">{{ 'IMAGE' | translate }}
                  *</label>
                <chunkdirective></chunkdirective>
              </div>
            </div>
          </div>

          <!-- here add next button -->
          <div class="col-xs-3 col-xs-offset-5 top3" style="width:200px">
            <a ng-click="createproj.active = 5" class="btn btn-primary btn-sm btn-block">Següent&nbsp;&nbsp;<i class="fa fa-forward"></i>
            </a>
          </div>
          <!-- here add next button -->
        </uib-tab>
        <uib-tab index="5" select="createproj.hideButtons = false">
          <uib-tab-heading>
            <!-- <i class="fa fa-credit-card"></i> Preus -->
            {{ 'PRICE' | translate }}
          </uib-tab-heading>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <h5 class="text text-primary top1">{{ 'CONSUME-SRV' | translate }}</h5>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                  <label class="top1">{{ 'SRV-INSTANT' | translate }}
                    *</label>
                  <div class="input-group">
                    <input type="number" class="form-control" ng-model="createproj.srv.price.initial" placeholder="{{ 'SRV-STABLISH' | translate }}">
                    <div class="input-group-addon">€</div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                  <label class="top1">{{'HOUR-PRICE' | translate}}
                    *</label>
                  <div class="input-group">
                    <input type="number" class="form-control" ng-model="createproj.srv.price.perhour" placeholder="{{ 'RATING' | translate }}">
                    <div class="input-group-addon">€ / hora</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" ng-show="!createproj.hideButtons">
            <div class="col-xs-3 col-xs-offset-3 top3">
              <button  ng-click="createproj.launchTemplate(createproj.srv)" class="btn btn-primary btn-block">{{ 'PUBL-SRV-TITLE' | translate }}</button>
            </div>
            <div class="col-xs-3 top3">
              <a class="btn btn-default btn-block" ng-click="createproj.closeDialog();">&nbsp;&nbsp;Cancel·lar</a>
            </div>
          </div>

        </uib-tab>
        <uib-tab index="6" select="createproj.hideButtons = true">
          <uib-tab-heading>
            <i class="fa fa-info-circle"></i>
            {{ 'INFO' | translate }}
          </uib-tab-heading>
          <div class="panel panel-default">
            <div class="panel-body">

              <div class="row">
                <div class="col-xs-12">
                  <h5 class="text text-primary top1">Crear un Servei a la Plataforma</h5>

                  <div class="left1">
                    <p class="top1">A continuació es mostra el formulari per crear un servei on tots els camps son requerits:</p>
                    <h5 class="top2">
                      <strong>Dades Generals</strong>
                    </h5>
                    <h5 class="text text-primary">Nom del Servei</h5>
                    <p>Es tracta del nom del servei a publicar i a mostrar al catàleg pels demés usuaris.</p>

                    <h5 class="text text-primary top1">Descripció del Servei</h5>
                    <p>Una descripció exhaustiva del servei.</p>

                    <h5 class="text text-primary top1">Sumari del servei</h5>
                    <p>Un resum del que oferta el servei.</p>
                  </div>
                </div>
              </div>
              <hr/>

              <div class="left1">
                <h5 class="top1">
                  <strong>Paràmetres</strong>
                </h5>
                <h5 class="text text-primary">Configuració</h5>
                <p>Les plantilles de configuració de paràmetres propis per a cada consumidor (<i>mitjançant les quals es generaran els formularis requerits als consumidors a l'hora de començar a consumir/instanciar un servei</i>).</p>

                <p>Cada element de
                  <strong>Configuració</strong>
                  (<i>plantilla</i>) es correspondrà amb una ruta absoluta del fitxer de plantilla (<i>per exemple /etc/servei/config.txt</i>) de la imatge de màquina virtual que s'ha de particularitzar per a cada client d'acord a les
                  <strong>Variables</strong>
                  (<i>claus</i>) adjuntes associades al fitxer on es farà constar el:</p>
                <ul class="list list-unstyled">
                  <li>
                    <strong class="text text-primary">Nom</strong>
                    Nom de la variable
                    <i>sense espais ni caràcters especials o accentuats on el primer caràcter no pot ser un dígit.</i>
                  </li>
                  <li>
                    <strong class="text text-primary">Tipus</strong>
                    El tipus de variable requerida.</li>
                  <li>
                    <strong class="text text-primary">Descripció</strong>
                    La descripció orientativa de la variable que veurà el consumidor a l'hora de complimentar el formulari de consum.</li>
                </ul>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="modal-img">
                    <img width="100%" class="img form-explanation" src="assets/images/publish-form/cs-consumer.png" alt="Formulari publicació servei foto2">
                  </div>
                </div>
              </div>

	      <div class="left1">
		<h5 class="top1">
		  <strong>Paràmetres II</strong>
		</h5>
		<h5 class="text text-primary">Paràmetres de Runtime</h5>

		<p>Es corresponen amb aquells paràmetres que no son definits per l'usuari i depenen de
		  l'assignació de recursos i/o de l'entorn en temps d'execució de la màquina virtual que prestarà
		  el servei. Actualment només s'admet com a únic paràmetre vàlid l'adreça ip (<i>floating_ip</i>)
		  d'accés al servei
		  assignada pel proveïdor de infraestructura.</p>
		<ul class="list list-unstyled">
		  <li>
		    <strong class="text text-primary">Nom</strong>
		    floating_ip</li>
		  <li>
		    <strong class="text text-primary">Tipus</strong>
		    String</li>
		  <li>
		    <strong class="text text-primary">Descripció</strong>
		    Adreça IP del servei</li>
		</ul>
	      </div>

	      <div class="row">
		<div class="col-xs-12">
		  <div class="modal-img">
		    <img width="100%" class="img form-explanation" src="assets/images/publish-form/cs-runtime.png" alt="Formulari publicació servei foto2">
		  </div>
		</div>
	      </div>

	      <div class="left1">
		<h5 class="top1">
		  <strong>Infraestructura</strong>
		</h5>
		<h5 class="text text-primary">Servei de infraestructura</h5>

		<p>Permet triar entre diferents proveïdors de infraestructura (<i>centre de dades</i>)
		  sobre els quals s'instanciarà
		  el servei pels clients. Un cop seleccionat el centre de dades en concret, el proveïdor
		  haurà de seleccionar el <i>flavor</i> o tipus de màquina en quant a nombre de processadors
		  (<i>cores</i>), memòria RAM i l'espai de disc disponibles.</p>
		<ul class="list list-unstyled">
		  <li>
		    <strong class="text text-primary">Proveïdor</strong>
		    Seleccionable entre els integrats a la plataforma</li>
		  <li>
		    <strong class="text text-primary">Memòria MB</strong>
		    RAM</li>
		  <li>
		    <strong class="text text-primary">Disc</strong>
		    Espai en GB del disc de la màquina virtual que allotjarà el servei</li>
		  <li>
		    <strong class="text text-primary">CPUs</strong>
		    Número de nuclis de la màquina virtual</li>
		</ul>
	      </div>

	      <div class="row">
		<div class="col-xs-12">
		  <div class="modal-img">
		    <img width="100%" class="img form-explanation" src="assets/images/publish-form/cs-infra.png" alt="Formulari publicació servei foto2">
		  </div>
		</div>
	      </div>

	      <div class="left1">
		<h5 class="top1">
		  <strong>Imatge de Disc</strong>
		</h5>
		<h5 class="text text-primary">Imatge de Disc</h5>

		<p>Apartat que possibilita la pujada de la imatge de màquina virtual
		a triar entre diferents formats suportats per la plataforma</p>
		<ul class="list list-unstyled">
		  <li>
		    <strong class="text text-primary">Tipus d'imatge</strong>
		    QCOW2, VDI, ...</li>
		  <li>
		    <strong class="text text-primary">Imatge</strong>
		    Permet pujar el fitxer</li>
		</ul>
	      </div>

	      <div class="left1">
		<h5 class="top1">
		  <strong>Preus</strong>
		</h5>
		<h5 class="text text-primary">Tarifes de Consum</h5>

		<p>Permet fixar les tarifes per consum.</p>
		<ul class="list list-unstyled">
		  <li>
		    <strong class="text text-primary">Instanciació de servei</strong>
		    Preu en € corresponent a la instanciació del servei per part del client.</li>
		  <li>
		    <strong class="text text-primary">Preu per Hora</strong>
		    Tarifa per hora de consum</li>
		</ul>
	      </div>


            </div>
          </div>
        </uib-tab>
      </uib-tabset>
      <!-- <div class="row" ng-show="!createproj.hideButtons">
            <div class="col-xs-3 col-xs-offset-3 top3">
              <button ng-disabled="createserviceform.$invalid" ng-click="createproj.launchTemplate(createproj.srv)" class="btn btn-success btn-block">{{ 'PUBL-SRV-TITLE' | translate }}</button>
            </div>
            <div class="col-xs-3 top3">
              <a class="btn btn-danger btn-block" ng-click="createproj.closeDialog();">&nbsp;&nbsp;Cancel·lar</a>
            </div>
          </div> -->
    </form>

  </div>
