.ngdialog.ngdialog-theme-default.create-service .ngdialog-content {

  adding-bottom:8em;

  *:focus {
    outline:none;
  }
  form {
    padding-bottom: 1em;
  }
  li a {
    color: #666666;
  }

  li a:active, li a:focus {
    color:#3399f3;
  }

  .padding1 {
    padding-bottom: 1em;
  }


}
