<div>
	<!-- 
		///////////////////////////////////////////////    old functionality   ///////////////////////////////////////////
		<div class="oneTemplate clearfix">
			<h4 class="templateTitle">Imatge de Disc I</h4>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fieldblock">
				<form name="imageUploader">
					<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
						<input type="file" file-model="staticform.myFile"/>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<button ng-if="!imageUploader.$invalid" class="btn btn-default btn-xs" ng-click="staticform.uploadFile()"><i class="fa fa-upload"></i><span class="icon-left">Pujar imatge</span></button>
					</div>
					<div class="col-xs-12">
							<div ng-if="staticform.showbar">
								<br/><br/>
    							<div class="progress">
    								<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" style="width:100%">
							    	</div>
							 	</div>
							</div>

						<br/>
						<span class="text text-primary uploadOk" ng-if="staticform.isLoadedImage"><i class="fa fa-check"></i>&nbsp;Imatge carregada</span>
					</div>
				</form>
			</div>
		</div> -->
</div>