.edit-user-form .ngdialog-content {
  *:focus {
    outline:none;
  }
  padding-bottom:8em;
  .form-block-title {
    margin-top:2em;
  }
  .form-fields {
    padding: 0 1em;
    .top1 {
      margin-top: .5em;
    }
  }
  .form-group {
    label {
      font-size: 12px;
    }

  }
  form {
    padding-bottom: 1em;
  }


}
