<style media="screen">
  .ngdialog.ngdialog-theme-default.user-detail .ngdialog-content {
    width: 60%;
    height: 100%;
    min-height:350px;
    overflow: scroll;
    padding: 2em;
  }

</style>

<div>
  <h4 class="text text-primary">{{'USER-DETAIL-TITLE' | translate}}</h4>
  <uib-tabset class="top3">
    <uib-tab index="0" heading="{{'USER-DETAIL-PERS-DATA' | translate}}">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <h5 class="text text-primary form-block-title">Personal</h5>
            </div>
          </div>

          <div class="form-fields">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="top1">
                  <label for="name">{{'REG-NAME' | translate}}</label>
                  <h4>{{ngDialogData.name}}</h4>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="top1">
                  <label for="surname">{{'REG-SURNAME' | translate}}</label>
                  <h4>{{ngDialogData.surname}}</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="top1">
                  <label for="mail">{{'REG-MAIL' | translate}}</label>
                  <h4>{{ngDialogData.mail}}</h4>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="top1">
                  <label for="phone">{{'REG-COMPANY-PHONE' | translate}}</label>
                  <h4>{{ngDialogData.phone}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="1" heading="General">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <h5 class="text text-primary form-block-title">Empresa</h5>
            </div>
          </div>
          <div class="form-fields">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="top1">
                  <label for="company">{{'REG-COMPANY' | translate}}</label>
                  <h4>{{ngDialogData.company}}</h4>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="top1">
                  <label for="jobPosition">{{'REG-COMPANY-POSITION' | translate}}</label>
                  <h4>{{ngDialogData.jobPosition}}</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h5 class="text text-primary form-block-title">General</h5>
            </div>
          </div>
          <div class="form-fields">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="top1">
                  <label for="description">{{'USER-DETAIL-DESCRIPTION' | translate}}</label>
                  <h4>{{ngDialogData.description}}</h4>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="top1">
                  <label for="address">{{'REG-COMPANY-ADDRESS' | translate}}</label>
                  <h4>{{ngDialogData.address}}</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="form-fields">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="top1">
                  <label for="city">{{'USER-DETAIL-CITY' | translate}}</label>
                  <h4>{{ngDialogData.city}}</h4>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="top1">
                  <label for="country">{{'USER-DETAIL-COUNTRY' | translate}}</label>
                  <h4>{{ngDialogData.country}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="2" heading="Plataforma">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <h5 class="text text-primary form-block-title">Plataforma</h5>
            </div>
          </div>
          <div class="form-fields">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="top1">
                  <label for="activated">{{'PROFILE-STATUS' | translate}}</label><br/>
                  <div ng-if="ngDialogData.activated">
                    <span class="label label-primary">{{'USER-DETAIL-ACTIVATED' | translate}}</span>
                  </div>
                  <div ng-if="!ngDialogData.activated">
                    <span class="label label-danger">{{'USER-DETAIL-UNACTIVATED' | translate}}</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <div class="top1">
                  <label for="providerRole">{{'CATAL-PROVEIDOR' | translate}}</label><br/>
                  <span class="label" ng-class="ngDialogData.providerRole ? 'label-primary' : 'label-default'">
                    <i class="fa" ng-class="ngDialogData.providerRole ? 'fa-check' : 'fa-close'"></i>
                  </span>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <div class="top1">
                  <label for="jobPosition">{{'SRV-CLIENT' | translate}}</label><br/>
                  <span class="label" ng-class="ngDialogData.clientRole ? 'label-primary' : 'label-default'">
                    <i class="fa" ng-class="ngDialogData.clientRole ? 'fa-check' : 'fa-close'"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
  <!-- <pre>{{ngDialogData | json}}</pre> -->

</div>
