ul.margen {
	margin-left: 2em;
}

input.fake {
	margin-bottom: 1em;
}

.little-service {
	height: 70px;
	width: auto;
}

.project-actions {
	margin-right: .6em;
}

.list-group-item {
	cursor: pointer;
}

.pad {
	padding-left: 2em;
}

.tabla-client {
	margin-top: 4em;
}

ul.row li {
	/*text-align: center;*/
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

#provservices {
	margin-top: 3em;
}

