<div class="container">
	<div class="page-header">
		<!-- <h3>{{'REG-TITLE' | translate}} <small>{{'REG-SUBTITLE' | translate}}</small></h3> -->
	</div>
	<form id="register" name="registerForm" ng-submit="register.doRegister(register.credentials)">
		<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
			<div class="well">
				<div class="form-group">
					<label for="registerrole">{{ 'REG-ROLE-LABEL' | translate }} *</label>
					<select ng-model="register.credentials.role" value="client" class="form-control input-sm">
						<option value="" disabled selected>{{ 'REG-ROLE-TITLE' | translate }}</option>
						<option value="client">{{ 'REG-ROLE-CLIENT' | translate }}</option>
						<option value="provider">{{ 'REG-ROLE-PROVIDER' | translate }}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="registermail">{{ 'REG-MAIL' | translate }} *</label>
					<input checkmail type="email" class="form-control input-sm" ng-model="register.credentials.email" id="registermail" placeholder="{{'REG-MAIL-PLACEHOLDER' | translate}}" required>
					<div ng-show="showMailError" class="alert alert-danger alert-dismissible register-error-message" role="alert">
						<button ng-click="showMailError = undefined" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<i class="fa fa-warning"></i>&nbsp;{{ 'REG-EMAIL-ERROR' | translate }}
					</div>
				</div>
				<div class="form-group">
					<label for="registername">{{ 'REG-NAME' | translate }} *</label>
					<input type="text" class="form-control input-sm" ng-model="register.credentials.name" id="registername" placeholder="{{'REG-NAME-PLACEHOLDER' | translate}}" required>
				</div>
				<div class="form-group">
					<label for="registersecondname">{{ 'REG-SECONDNAME' | translate }} *</label>
					<input type="text" class="form-control input-sm" ng-model="register.credentials.secondname" id="registersecondname" placeholder="{{'REG-SECONDNAME-PLACEHOLDER' | translate}}" required>
				</div>
				<div class="form-group">
					<label for="registerlastname">{{ 'REG-LASTNAME' | translate }}</label>
					<input type="text" class="form-control input-sm" ng-model="register.credentials.lastname" id="registerlastname" placeholder="{{'REG-LASTNAME-PLACEHOLDER' | translate}}">
				</div>
				<div class="form-group">
						<label for="">CIF - NIF *</label>
					<select class="form-control input-sm" ng-model="register.credentials.identification" ng-change="register.setIdentification(register.credentials.identification)">
						<option value="" disabled selected>{{ 'REG-CHOOSE-IDENTIFICATION-TYPE' | translate }}</option>
						<option value="cif">CIF</option>
						<option value="nif">NIF</option>
					</select>

					<div ng-show="register.cif"><br/>
						<label for="cif">CIF</label>
						<input checkcif type="text" class="form-control input-sm" ng-model="register.credentials.identificationValue" placeholder="{{ 'REG-CIF-PLACEHOLDER' | translate }}" required>
					</div>
					<div ng-show="register.nif"><br/>
						<label for="nif">NIF</label>
						<input checknif type="text" class="form-control input-sm" ng-model="register.credentials.identificationValue" placeholder="{{ 'REG-NIF-PLACEHOLDER' | translate }}" required>
					</div>
					<div ng-show="showNifError" class="alert alert-danger alert-dismissible register-error-message" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<i class="fa fa-warning"></i>&nbsp;{{ 'REG-NIF-ERROR' | translate }}
					</div>
					<div ng-show="showCifError" class="alert alert-danger alert-dismissible register-error-message" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<i class="fa fa-warning"></i>&nbsp;El CIF introduït no és correcte
					</div>
				</div>
				<div class="form-group">
					<label for="registercompany">{{ 'REG-COMPANY' | translate }} *</label>
					<input type="text" class="form-control input-sm" ng-model="register.credentials.company" id="registercompany" placeholder="{{'REG-COMPANY-PLACEHOLDER' | translate}}" required>
				</div>
				<div class="form-group">
					<label for="registerposition">{{ 'REG-COMPANY-POSITION' | translate }} *</label>
					<input type="text" class="form-control input-sm" ng-model="register.credentials.comp_position" id="registerposition" placeholder="{{'REG-COMPANY-POSITION-PLACEHOLDER' | translate}}" required>
				</div>
				<div class="form-group">
					<label for="registercompanylegal">{{ 'REG-LEGAL-LABEL' | translate }} *</label><br/>
					<label class="radio-inline">
				    	<input ng-model="register.credentials.legal" value="true" name="registercompanylegal" type="radio">SI
				    </label>
				    <label class="radio-inline">
				    	<input ng-model="register.credentials.legal" value="false" name="registercompanylegal" type="radio">NO
				    </label>
				</div>
				<div class="form-group">
					<label for="registercompanyaddress">{{ 'REG-COMPANY-ADDRESS' | translate }} *</label>
					<input type="text" class="form-control input-sm" ng-model="register.credentials.comp_address" id="registercompanyaddress" placeholder="{{'REG-COMPANY-ADDRESS-PLACEHOLDER' | translate}}" required>
				</div>
				<div class="form-group">
					<label for="registercompanyaddress">{{ 'REG-COMPANY-PHONE' | translate }} *</label>
					<input type="text" class="form-control input-sm" ng-model="register.credentials.comp_phone" id="registercompanyaddress" placeholder="{{'REG-COMPANY-PHONE-PLACEHOLDER' | translate}}" required>
				</div>
				<div class="form-group">
					<label for="registerpassword">{{ 'REG-PASSWORD' | translate }} *</label>
					<input type="password" ng-model="register.credentials.password" class="form-control input-sm" id="registerpassword" placeholder="{{'REG-PASSWORD-PLACEHOLDER' | translate}}" required>
				</div>
				<div class="form-group">
					<label for="repiteRegisterpassword">{{ 'REG-CONFIRM-PASSWORD' | translate }} *</label>
					<input type="password" ng-model="register.credentials.repeatpassword" class="form-control input-sm" id="repiteRegisterpassword" placeholder="{{'REG-CONFIRM-PASSWORD-PLACEHOLDER' | translate}}" required>
					<div ng-if="register.showRegisterError" class="alert alert-danger alert-dismissible register-error-message" role="alert">
						<button ng-click="register.showRegisterError = !register.showRegisterError" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<i class="fa fa-warning"></i>&nbsp;{{ 'REG-PASSWORD-ERROR' | translate }}
					</div>
				</div>
				<!-- google recaptcha -->
				<div class="form-group clearfix">
					<div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 col-lg-10 col-lg-offset-2"
					    vc-recaptcha
					    key="'6LfvygcUAAAAAPiXKoN5mZ29Blny9qDjOs5sEW3Z'">
					</div>
				</div>
				<div class="form-group">
					<p><strong>* {{ 'REG-REQUIRED-FIELDS' | translate }}</strong></p>
					<p>
						{{ 'REG-RECIVE-MAILS' | translate }}<br/>
						<i>{{ 'REG-NEEDED-TEXT' | translate }}</i><br/>
						<input ng-model="register.credentials.recivemails" type="checkbox" id="inlineCheckbox1" required>
					</p>
				</div>
				<!-- <button type="submit" class="btn btn-success btn-block" ng-disabled="registerForm.$invalid || (!register.credentials.client_role && !register.credentials.provider_role)">Enviar dades</button> -->
				<button type="submit" class="btn btn-success btn-block" ng-disabled="registerForm.$invalid">{{ 'REG-REGISTER-BUTTON' | translate }}</button>
			</div>
		</div>
	</form>
</div>