<div class="container">
	<div class="page-header">
		<h3>Registre <small>Usuari</small></h3>
	</div>
	<form id="register" name="registerForm" ng-submit="register.doRegister(register.credentials)">
		<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
			<div class="well">
				<div class="form-group">
					<label for="registermail">Email *</label>
					<input type="email" class="form-control" ng-model="register.credentials.email" id="registermail" placeholder="Mail" required>
				</div>
				<div class="form-group">
					<label for="registerusername">Usuari *</label>
					<input type="text" class="form-control" ng-model="register.credentials.username" id="registerusername" placeholder="Username" required>
				</div>
				<div class="form-group">
					<label for="registerpassword">Password *</label>
					<input type="password" ng-model="register.credentials.password" class="form-control" id="registerpassword" placeholder="Password" required>
				</div>
				<div class="form-group">
					<label for="repiteRegisterpassword">Confirma Password *</label>
					<input type="password" ng-model="register.credentials.repeatpassword" class="form-control" id="repiteRegisterpassword" placeholder="Repeat Password" required>
					<div ng-if="register.showRegisterError" class="alert alert-danger alert-dismissible register-error-message" role="alert">
						<button ng-click="register.showRegisterError = !register.showRegisterError" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						El Password i la Confirmació de password no coincideixen
					</div>
				</div>
				<div class="form-group">
				<label for="repiteRegisterpassword">Rol d'Usuari *</label><br/>
					<label class="checkbox-inline">
						<input ng-model="register.credentials.client" type="checkbox" id="inlineCheckbox1" value="option1"> CLIENT
					</label>
					<label class="checkbox-inline">
						<input ng-model="register.credentials.provider" type="checkbox" id="inlineCheckbox2" value="option2"> PROVEÏDOR
					</label>
				</div>
				<!-- 
				Opcio radio button para seleccionar role d'usuari provider o client
				<div class="form-group">
					<label for="registerrole">Role</label><br/>
					<label class="radio-inline">
				    	<input ng-model="register.credentials.provider" name="registerrole" type="radio">PROVEÏDOR
				    </label>
				    <label class="radio-inline">
				    	<input ng-model="register.credentials.client" name="registerrole" type="radio">CLIENT
				    </label>
				</div> -->
				<button type="submit" class="btn btn-success btn-block" ng-disabled="registerForm.$invalid || (!register.credentials.client && !register.credentials.provider)">Enviar dades</button>
			</div>
		</div>
	</form>
</div>