body {
	padding-top: 50px;
}

/* ------------NAVBAR directive tpl -----------------*/


li.user {
	margin-right: 1em;
}

a.username {
	font-size: 17px;
}

li a.catala {
	font-size: 12px;
	margin-right: -18px;
}

li a.castella {
	font-size: 12px;
	margin-right: 10px;
}

li a.catala.active, li a.castella.active {
	color: #3a87ad;
	font-weight:bold;
	
}


/* ------------HOMEM main/main.html -----------------*/

.title {
	text-align:center;
	font-size: 40px;
	color: orange;
	margin-bottom:2em;
	margin-top: 3em; 
}
.caja {
	padding: 1em;
	margin: 1em;
	border: solid #ccc 7px;
	height: 200px;
	color: white;
	text-align: center;
	border-radius: 7px;
}

.caj {
	overflow: hidden;
}

a h3 {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.c1 {
	background-color: #b3ecff;
}
.c2 {
	background-color: #b3e6b3;
}
.c3 {
	background-color: #dfbf9f;
}
.c4 {
	background-color: #ddd;
}


