body {
	padding-top: 50px;
}

/* ------------NAVBAR directive tpl -----------------*/


li.user {
	margin-right: 1em;
}

a.username {
	font-size: 17px;
}

li a.catala {
	font-size: 12px;
	margin-right: -18px;
}

li a.castella {
	font-size: 12px;
	margin-right: 10px;
}

li a.catala.active, li a.castella.active {
	color: #3a87ad;
	font-weight:bold;

}


/* ------------HOMEM main/main.html -----------------*/

.title {
	text-align:center;
	font-size: 40px;
	color: orange;
	margin-bottom:2em;
	margin-top: 3em;
}
.caja {
	padding: 1em;
	margin: 1em;
	border: solid #ccc 7px;
	height: 200px;
	color: white;
	text-align: center;
	border-radius: 7px;
}

.caj {
	overflow: hidden;
}

a h3 {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.c1 {
	background-color: #b3ecff;
}
.c2 {
	background-color: #b3e6b3;
}
.c3 {
	background-color: #dfbf9f;
}
.c4 {
	background-color: #ddd;
}

.left1 {
	margin-left: 1em;
}

.left2 {
	margin-left: 2em;
}

.left3 {
	margin-left: 3em;
}

.right1 {
	margin-right: 1em;
}

.right2 {
	margin-right: 2em;
}

.right3 {
	margin-right: 3em;
}
.top05 {
	margin-top: .5em;
}
.top1 {
	margin-top: 1em;
}

.top2 {
	margin-top: 2em;
}

.top3 {
	margin-top: 3em;
}

.bottom1 {
	margin-bottom: 1em;
}

.bottom2 {
	margin-bottom: 2em;
}

.bottom3 {
	margin-bottom: 3em;
}

/* table pagination buttons */
.pagination>li>a,
.pagination>li>span {
	color: #446e9b;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}
