
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" id="collapsebutton" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a  class="navbar-brand navlogo" href="http://195.81.194.58/"><img src="../../assets/images/Logos/Plataforma4_o_logo.png" alt="Anella 4.0"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="toclose" ui-sref="catalog">{{ 'CATALEG-NAV' | translate }}</a></li>
        <li><a ng-if="menuUser.role==='Partner.Provider'" class="toclose" ui-sref="provprojects">{{ 'SERVEIS-NAV' | translate }}</a></li>
        <li><a ng-if="menuUser.role==='Partner.Client'" class="toclose" ui-sref="clientprojects">{{ 'PROJECTES-NAV' | translate }}</a></li>
        <li><a class="toclose" ui-sref="users">Usuaris</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-click="setLanguage('CAT')"><a class="lang catala">CAT</a></li>
        <li ng-click="setLanguage('CAST')"><a class="lang castella">CAST</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!menuUser.isLogged"><a class="toclose" ui-sref="login"><i class="fa fa-sign-in"></i> {{ 'ACCEDIR-NAV' | translate }}</a></li>
        <li ng-if="menuUser.isLogged" class="user">
          <a class="username">
            <small class="text text-info">
            <i class="fa fa-user"></i>&nbsp;{{menuUser.user.name}}
            </small>
          </a>
        </li>
        <li ng-if="menuUser.isLogged"><a class="toclose" ng-click="logout()"><i class="fa fa-sign-out"></i> {{ 'SORTIR-NAV' | translate }}</a></li>
      </ul>
    </div>
  </div>
</nav>
