<div class="container">
	<div class="page-header">
			<h3>
				Provider Services <small>Index</small> <span class="pull-right"><a class="btn btn-primary btn-xs" ui-sref="provinstances">Instàncies de projecte</a></span>
			</h3>
	</div>

	<!-- <div class="row">
		<form name="provProjects">
			<div class="col-lg-6">
			    <div class="input-group">
			      <input type="text" class="form-control" ng-model="provider.id" placeholder="Provider id..">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button" ng-click="provprojects.getProviderProjectsByPartnerId(provider.id)">GetProviderProjects</button>
			      </span>
			    </div>
			</div>
		</form>
	</div>
	<hr/> -->

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default difuminar" ng-repeat="srv in provprojects.allProviderProjects">
			  <div class="panel-heading">
			    <h3 class="panel-title">Servei <strong>{{srv.service.name}}</strong></h3>
			  </div>
			  <div class="panel-body">
			    <div class="row">
			    	<div class="col-xs-2">
			    		<img class="img-thumbnail" src="http://lorempixel.com/200/150" alt="Imatge fake" />
			    	</div>
					<div class="col-xs-10">
						<ul class="list-inline">
							<li class="prov-lists">	
								<p>Nom Projecte</p>
			    				<h4>{{srv.project.name}}</h4>
							</li>
							<!-- <li class="prov-lists">
								<p>Contexte</p>
			    				<h4>{{srv.context_type}}</h4>
							</li> -->
							
							<li class="prov-lists">
								<p>Nom client</p>
								<h4>{{srv.client.name}}</h4>
							</li>
							<li class="prov-lists">
								<p>Creació</p>
			    				<h4><span class="label label-default">{{srv.create_at}}</span></h4>
							</li>
							<li class="prov-lists">
								<p>Status</p>
			    				<h4><span class="label label-default">{{(srv.status < 3)? 'Pendent Confirmació' : 'Confirmat'}}</span></h4>
							</li>
							<li class="prov-lists">
								<p>Actions</p>
								<button ng-click="provprojects.confirmProviderProject(srv)" class="btn btn-primary btn-sm" ng-class="(srv.status < 3) ? '' : 'disabled'">
									<i class="fa fa-check"></i>
									Confirmar
								</button>
							</li>
						</ul>
					</div>
			    </div>
			  </div>
			</div>
		</div>
	</div>

</div>