li.prov-lists {
	margin-left: 3em;
}

#provservices tr th a, #clientprojectstable tr th a, #myInactiveProjects tr th, #myActiveProjects tr th a {
	cursor: pointer;
	text-decoration: none;
}

//unificar ample dels labels de status en clientprojects view
.label-status {
	display: block;
	margin-left: .5em;
	margin-right: 8.5em;
	padding: .4em;
}

.publish {
	margin: 0 1em 2em 0;
}

#provservices, #myInactiveProjects {
	thead th, thead th a {
		background-color:#474949;
		color:white;
		text-decoration: none;
	}
}
