<style media="screen">
  .ngdialog.ngdialog-theme-default.deny-project .ngdialog-content {
    margin-top:2em;
    padding:2em;
    margin-top:2em;
    width: 40%;
    height: 25%;
    min-height:180px;
    overflow:hidden;

    .confirm-dialog {
        margin-top:2em;
        padding:2em;
        height: 100%
    }

  }
</style>

<div>
  <div class="confirm-dialog" style="padding-bottom: 2em;">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Segur que vols Denegar el projecte <span class="text text-primary">{{ngDialogData.projectToDeny.name}}</span> ?</h4>
        <br/>
        <button ng-click="ngDialogData.denyConfirmedProject(ngDialogData.projectToDeny);ngDialogData.closeDialog()" class="btn btn-sm btn-primary" type="button">Denegar</button>
        <button ng-click="ngDialogData.closeDialog()" class="btn btn-sm btn-default" type="button">Cancelar</button>
      </div>
    </div>

  </div>
</div>
