<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default panel-detail" ng-click="catalog.seeDetail(one._id)">
				<div class="panel-heading">
					<h2 class="panel-title panel-title-personalized">{{detailsrv.currentService.name}}</h2>
				</div>
				<div class="panel-body">
					<a class="btn btn-default btn-xs pull-right backbutton" ui-sref="catalog"><i class="fa fa-times fa-2x"></i></a>
					<div class="col-xs-10">
						<h2><small>{{detailsrv.currentService.summary}}</small></h2>
						<br/>
						<p>{{detailsrv.currentService.description}}</p><br/>

						<!-- <p><img class="img-thumbnail catalog" src="assets/logos_mkp/{{catalog.getImage(one.name)}}" alt="Imatge servei"></p> -->
						<p><strong><span class="text text-primary uppercase">{{'CATAL-PROVEIDOR' | translate}}</span></strong></p>
						<div class="row">
							<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
								<p>{{detailsrv.nameProvider}}</p><br/>
							</div>
							<div class="col-xs-12 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1">
								<img class="logo-prov-detail" width="150" ng-src="assets/images/Logos/{{detailsrv.getProviderImage(detailsrv.nameProvider)}}" alt="Provider image">
							</div>
						</div>

						<p><strong><span class="text text-primary uppercase">{{ 'SERVICE-TYPE' | translate }}</span></strong></p>
						<p>{{detailsrv.currentService.service_type}}</p><br/>
						<div ng-if="detailsrv.currentService.price_initial && detailsrv.currentService.price_x_hour">
							<p><strong><span class="text text-primary uppercase">{{ 'PRICE' | translate }}</span></strong></p>
							<div class="row" ng-if="detailsrv.currentService.price_initial">
								<div class="col-xs-12 col-sm-12">
									<h5><span class="text text-primary">{{ 'SRV-INSTANT' | translate }}</span></h5>
									<p>{{ detailsrv.currentService.price_initial }}€</p>
								</div>
							</div>
							<div class="row" ng-if="detailsrv.currentService.price_x_hour">
								<div class="col-xs-12 col-sm-12">
									<h5><span class="text text-primary">{{ 'CONSUM-PER-HOUR' | translate }}</span></h5>
									<p>{{ detailsrv.currentService.price_x_hour }}€</p>
								</div>
							</div>
						</div>
						<p><strong><span class="text text-primary uppercase">{{ 'DETAIL-SECTORS' | translate }}</span></strong></p>
						<ul class="list list-unstyled list-inline">
							<li ng-repeat="one in detailsrv.currentService.sectors">
								{{one}}
							</li>
						</ul>
						<br/>
						<p><strong><span class="text text-primary uppercase">{{ 'DETAIL-LINK' | translate }}</span></strong></p>
						<p ng-if="detailsrv.nameProvider == 'Eurecat'"><a target="_blank" href="http://eurecat.org/es/">{{detailsrv.currentService.link}}</a></p>
						<p ng-if="detailsrv.nameProvider != 'Eurecat'"><a target="_blank" href="{{detailsrv.currentService.link}}">{{detailsrv.currentService.link}}</a></p>
					</div>
					<div class="col-xs-12">
						<div class="row boton-contractar">
							<div ng-if="detailsrv.currentUser == null || detailsrv.currentUser.role == 'Partner.Provider'" class="col-xs-4 col-xs-offset-4">
								<a ng-click="detailsrv.goToLogin()" class="btn btn-primary btn-md btn-block">{{ 'LOG-LOGIN' | translate }}</a>
								<h6 class="text text-help">{{'SRV-DETAIL-MSG' | translate}}</h6>
							</div>
							<div ng-if="detailsrv.currentUser.role == 'Partner.Client'" class="col-xs-4 col-xs-offset-4">
								<a ng-click="detailsrv.goToProjects()" class="btn btn-primary btn-md btn-block">{{ 'SRV-INSTANCE' | translate }}</a>
							</div>
						</div>
					</div>

				</div>
				<div class="panel-footer"></div>
			</div>
		</div>
	</div>
</div>
