<div class="container">
	<div class="row">
		<div class="row">
			<br/><a ui-sref="catalog" class="btn btn-link"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Catàleg</a><br/>
		</div>
		<div class="panel panel-default panel-detail" ng-click="catalog.seeDetail(one._id)">
			<div class="panel-heading">
				<h2 class="panel-title panel-title-personalized">{{detailsrv.currentService.name}}</h2>
			</div>
			<div show-hover class="panel-body">
				<a class="btn btn-default btn-xs pull-right backbutton" ui-sref="catalog"><i class="fa fa-times fa-2x"></i></a>
				<div class="col-xs-10">
					<h2><small>{{detailsrv.currentService.summary}}</small></h2>
					<br/>
					<p>{{detailsrv.currentService.description}}</p><br/>
					
					<!-- <p><img class="img-thumbnail catalog" src="assets/logos_mkp/{{catalog.getImage(one.name)}}" alt="Imatge servei"></p> -->
					<p><strong><span class="text text-primary">PROVEIDOR</span></strong></p>
					<div class="row">
						<div class="col-xs-1">
							<p>{{detailsrv.nameProvider}}</p><br/>
						</div>
						<div class="col-xs-2 col-xs-offset-1">
							<img class="logo-prov-detail" width="150" ng-src="assets/images/Logos/{{detailsrv.getProviderImage(detailsrv.nameProvider)}}" alt="Imatge Proveïdor">
						</div>
					</div>
					


					<p><strong><span class="text text-primary">TIPUS DE SERVEI</span></strong></p>
					<p>{{detailsrv.currentService.service_type}}</p><br/>

					<p><strong><span class="text text-primary">PREUS</span></strong></p>
					<p>Detall de Preus</p><br/>


					<p><strong><span class="text text-primary">SECTORS</span></strong></p>
					<ul class="list list-unstyled list-inline">
						<li ng-repeat="one in detailsrv.currentService.sectors">
							{{one}}
						</li>
					</ul>
					<br/>
					<p><strong><span class="text text-primary">LINK</span></strong></p>
					<p><a target="_blank" href="{{detailsrv.currentService.link}}">{{detailsrv.currentService.link}}</a></p>
					
				</div>
			</div>
			<!-- <div class="panel-footer">
						<a href="" class="btn btn-danger btn-xs">Contractar</a>
			</div> -->
		</div>
	</div>
</div>