<div class="container">
	<div class="page-header">
			<h2>Service Provider <small>Index</small></h2>
	</div>
		
	<!-- <a class="btn btn-danger" ui-sref="service-edit">edit view</a> -->
	

	<div class="col-xs-12 col-md-12">
		<div ng-if="true">
			<div class="alert alert-danger alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <strong>Atenció</strong> Hi ha projectes pendents de validació. <a href="">Clica aquí per veure'ls</a>
			</div>
		</div>
	</div>

	<div ng-if="services.show" class="col-xs-12 col-md-12">
		<table class="table table-hover table-stripped">
		  <thead>
		  	<tr>
		  		<th>Nom</th>
		  		<th>Creació</th>
		  		<th>Sectors</th>
		  		<th>Tipus de Servei</th>
		  		<th>Proveïdor</th>
		  		<th>Summary</th>
		  		<th>Actions</th>
		  	</tr>
		  </thead>
		  <tbody>
		  	<tr ng-repeat="service in services.services">
		  		<td><strong>{{service.name}}</strong></td>
		  		<td><span ng-bind="service.created_at | date"></span></td>
		  		<td>
		  			<ul class="list list-unstyled">
		  				<li ng-repeat="sector in service.sectors">{{sector}}</li>	
		  			</ul>
		  		</td>
		  		<td>{{service.service_type}}</td>
		  		<td>{{service.provider}}</td>
		  		<td>{{service.summary}}</td> 
		  		<td><a class="btn btn-xs btn-primary" ng-class="(service.service_type == 'generic') ? 'disabled' : ''" ng-click="services.showToast(service);">Confirmar</a></td>
		  	</tr>
		  </tbody>
		</table>
	</div>


	
</div>