li a {
	cursor: pointer;
}

body, html {
	/*background-color: #eee;*/
	min-height: 1200px;
}

.tab-pane {
	margin-top: 3em;
}

.overf h2, h4.overf, h3.overf {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

//forçar alçada imatges del catalog
.catalog {
	height: 150px;
}

.catalog-item {
	overflow: hidden;
}

.panel-catalog {
	-webkit-box-shadow: 3px 3px 3px 0px rgba(128,129,133,1);
	-moz-box-shadow: 3px 3px 3px 0px rgba(128,129,133,1);
	box-shadow: 3px 3px 3px 0px rgba(128,129,133,1);
}

.panel-catalog:focus,
.panel-catalog.active {
  outline: 0;
  -webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.panel.panel-catalog {
	width: 200px;
	margin: 6px;
}

.panel.panel-catalog:hover {
	/*background-color: #e0ebeb;*/
	background-color: #F5F1F0;
	transition: 0.3s;
}

.panel-catalog:hover,
.panel-catalog.hover {
 
  -webkit-box-shadow: 1px 1px 3px 0px rgba(128,129,133,1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(128,129,133,1);
	box-shadow: 1px 1px 3px 0px rgba(128,129,133,1);
}

li:active,
li:focus,
li.active {
	outline: 0
}

.panel-body.cata {
	height: 150px;
	overflow: hidden;
}

.panel-catalog:active {
	box-shadow: 0px;
}

.panel-footer {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.panel-footer span {
	margin-left: .2em;
}

.kkk {
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
