li a {
	cursor: pointer;
}


.tab-pane {
	margin-top: 3em;
}

.overf h2 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

//forçar alçada imatges del catalog
.catalog {
	height: 150px;
}


	