
#servicename {
	padding-left: 0;
}

#choicesDisplay {
	background: #f5f5f;
	margin-top: 1em;
}

.oneTemplate {
	border: solid lightgrey 1px;
	border-radius: 5px;
	padding: 1em;
	padding-bottom: 1.5em;
	margin-top: 2em;
	margin-bottom: 2em;
}

.templateTitle {
	margin-left: 1em;
}

.addfields {
	margin-top: 3em;
}

.close-button {
	margin-left: .5em;
}

.addFieldButton {
	margin: .5em;
	margin-left: 0;
	border-radius: 3px;
}

.fieldblock {
	margin: 1em;
}

.form-explanation {
	width:100%;
	border: solid lightgrey 1px;
	margin: 2em 0 2em 0;
	padding: 1em;
}

.check-required {
	margin-left: 20px;
	width: 20px;
}

ul.publish li {
	margin-top: 2em;
}

.confpath1 {
	margin-top: 2em;
}

.publishflavor {
	margin-top: 2em;
}


.staticform {
	height: 1600px;
}

@media (max-width: 1000px) {
  .static-form {
    min-height: 2500px;
  }
}

.botones {
	margin-bottom: 5em;
}

.publishsrv-bg {
	background: pink;
	padding:1em;
}

.uploadOk {
	background: #ddd;
	padding: .5em;
	font-size: 17x;
}

.icon-left {
	margin-left: 1em;
}

.explanation {
	margin-bottom: 2em;
	.info {
		margin-left: 1em;
	}
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
	width: 80%;
	height: 100%;
	min-height: 670px;
	margin-top: -90px;
	overflow:scroll;
	.modal-explanation {
		width: 90%;

		.modal-img {
			overflow: hidden;
			margin-top: 0;
			margin-bottom: 1em;
		}
	}

}
