

#choicesDisplay {
	background: #f5f5f;
	margin-top: 1em;
}

.oneTemplate {
	border: solid lightgrey 1px;
	border-radius: 5px;
	padding: .5em;
	margin-top: 2em;
	margin-bottom: 2em;
}

.templateTitle {
	margin-left: 1em;
}

.addfields {
	margin-top: 3em;
}

.close-button {
	margin-left: .5em;
}

.addFieldButton {
	margin: .5em;
}