<div ng-controller="PublishSrvController as staticform">
	<div class="staticform">
		<form name="srvTemplate">
			<div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1">
					<div class="col-xs-8" id="servicename">
						<label for="name">Nom Servei</label>
						<input type="text" name="name" class="form-control" ng-model="staticform.srv.title" placeholder="Nom del servei" required>
					</div>
					<div class="col-xs-4">
						<label for="type">Tipus de Servei</label>
						<select name="type" class="form-control" ng-options="item.description for item in staticform.allTypes" ng-model="staticform.srv.type" required>
							<option value="" disabled>Selecciona un tipus de servei</option>
						</select>
					</div>
			</div>

			
			<div class="col-xs-11 col-xs-10-offset-1 col-sm-11 col-sm-offset-1 confpath1">
				<label for="">Descripció</label>
				<textarea rows="2" type="text" class="form-control" ng-model="staticform.srv.description" placeholder="Descripció servei" required></textarea>
			</div>
			
			<div class="col-xs-11 col-xs-10-offset-1 col-sm-11 col-sm-offset-1 confpath1">
				<label for="">Sumari</label>
				<input type="text" class="form-control" ng-model="staticform.srv.summary" placeholder="Sumari del servei" required>
			</div>
			<br/>
			<div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1">
				<div class="oneTemplate clearfix">
					<h4 class="templateTitle">Paràmetres del consumidor</h4>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fieldblock">
					<br/>
					<div class="row">
						<div class="col-xs-12">
							<label for="filepath">Configuració</label>
							<input type="text" ng-model="staticform.srv.path" placeholder="Ruta arxiu configuració" class="form-control" required>
						</div>
					</div>
						<ul class="list list-inline publish">
							<li class="col-xs-12 col-sm-12 col-md-3">
							<label for="name">Nom</label>
								<input type="text" name="name" ng-model="staticform.srv.fields.field1.name" placeholder="Nom del camp" class="form-control" required/>
							</li>
							<li class="col-xs-12 col-sm-12 col-md-2">
							<label for="type">Tipus</label>
								<select class="form-control" ng-options="item.name for item in staticform.types" ng-model="staticform.srv.fields.field1.type" required>
									<option value="" disabled>Tipus de dada</option>
								</select>
							</li>
							<li class="col-xs-12 col-sm-12 col-md-1">
								<label for="required">Oblig.</label><br/>
								<input type="checkbox" class="form-control centered check-required" name="required" ng-model="staticform.srv.fields.field1.required">
							</li>
							<li class="col-xs-12 col-sm-12 col-md-6">
								<label for="description">Descripció</label>
								<input type="text" name="description" class="form-control" ng-model="staticform.srv.fields.field1.desc" placeholder="Descripció del camp"  required/>
							</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fieldblock">
						<ul class="list list-inline publish">
							<li class="col-xs-12 col-sm-12 col-md-3">
								<input type="text" name="name" ng-model="staticform.srv.fields.field2.name" placeholder="Nom del camp" class="form-control"/>
							</li>
							<li class="col-xs-12 col-sm-12 col-md-2">

								<select class="form-control" ng-options="item.name for item in staticform.types" ng-model="staticform.srv.fields.field2.type">
									<option value="" disabled>Tipus de dada</option>
								</select>
							</li>
							<li class="col-xs-12 col-sm-12 col-md-1">

								<input type="checkbox" class="form-control centered check-required" name="required" ng-model="staticform.srv.fields.field2.required">
							</li>
							<li class="col-xs-12 col-sm-12 col-md-6">

								<input type="text" name="description" class="form-control" ng-model="staticform.srv.fields.field2.desc" placeholder="Descripció del camp" />
							</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fieldblock clearfix">
						<ul class="list list-inline publish">
							<li class="col-xs-12 col-sm-12 col-md-3">

								<input type="text" name="name" ng-model="staticform.srv.fields.field3.name" placeholder="Nom del camp" class="form-control"/>
							</li>
							<li class="col-xs-12 col-sm-12 col-md-2">

								<select class="form-control" ng-options="item.name for item in staticform.types" ng-model="staticform.srv.fields.field3.type">
									<option value="" disabled>Tipus de dada</option>
								</select>
							</li>
							<li class="col-xs-12 col-sm-12 col-md-1">

								<input type="checkbox" class="form-control centered check-required" name="required" ng-model="staticform.srv.fields.field3.required">
							</li>
							<li class="col-xs-12 col-sm-12 col-md-6">

								<input type="text" name="description" class="form-control" ng-model="staticform.srv.fields.field3.desc" placeholder="Descripció del camp" />
							</li>
						</ul>
					</div>
				</div>
				<div class="oneTemplate clearfix">
					<h4 class="templateTitle">Flavors</h4>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fieldblock">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<br/>
							<select class="form-control" ng-options="fl.name for fl in staticform.flavors" ng-model="staticform.srv.flavor" required>
								<option value="" disabled>Característiques de la màquina</option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<table class="table table-striped flavor-table" ng-show="staticform.srv.flavor">
								 <thead> 
									<tr>
										<th>Nom</th>
										<th>Memòria MB</th>
										<th>Disk</th>
										<th>CUPS</th>
									</tr>
								</thead>
								<tbody>
									<tr class="info">
										<td>{{staticform.srv.flavor.name}}</td>
										<td>{{staticform.srv.flavor.memory}}</td>
										<td>{{staticform.srv.flavor.disk}}</td>
										<td>{{staticform.srv.flavor.cpus}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="oneTemplate clearfix">
					<h4 class="templateTitle">Paràmetres de Runtime</h4>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fieldblock">
						<ul class="list list-inline publish">
							<li class="col-xs-12 col-sm-12 col-md-3">
							<label for="name">Nom</label>
								<input type="text" name="name" ng-model="staticform.srv.rtime.name" placeholder="Nom del camp" class="form-control" required/>
							</li>
							<li class="col-xs-12 col-sm-12 col-md-2">
							<label for="type">Tipus</label>
								<select class="form-control" ng-options="item.name for item in staticform.types" ng-model="staticform.srv.rtime.type" required>
									<option value="" disabled>Tipus de dada</option>
								</select>
							</li>
							<li class="col-xs-12 col-sm-12 col-md-1">
								<label for="required">Oblig.</label><br/>
								<input type="checkbox" class="form-control centered check-required" name="required" ng-model="staticform.srv.rtime.required">
							</li>
							<li class="col-xs-12 col-sm-12 col-md-6">
								<label for="description">Descripció</label>
								<input type="text" name="description" class="form-control" ng-model="staticform.srv.rtime.desc" placeholder="Descripció del camp"  required/>
							</li>
						</ul>
					</div>
				</div>
				<div class="oneTemplate clearfix">
					<h4 class="templateTitle">Imatge de Disc</h4>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fieldblock">
							<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
								<chunkdirective></chunkdirective>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
								<select name="" class="form-control" ng-model="staticform.srv.diskImageType" ng-options="item.name for item in staticform.discImageFormat" required>
									<option value="" disabled>Tipus d'imatge de disc</option>
								</select>
								<br/>
							</div>
	    					<!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	    						<button id="upload_button" class="btn btn-default btn-md" ng-click="staticform.uploadFile()"><i class="fa fa-upload"></i><span class="icon-left">Pujar imatge</span></button>
	    						<br/>
	    					</div> -->
	    					<div class="col-xs-12">
	    						<div id="progressbar"></div>
	    					</div>
					</div>
				</div>
				<div class="row botones">
					<div class="col-xs-3 col-xs-offset-3">
						<!-- <button ng-disabled="srvTemplate.$invalid || !staticform.isLoadedImage" ng-click="staticform.launchTemplate(staticform.srv)" class="btn btn-success btn-block">Publicar Servei</button> -->
						<button ng-disabled="srvTemplate.$invalid" ng-click="staticform.launchTemplate(staticform.srv)" class="btn btn-success btn-block">Publicar Servei</button>
					</div>
					<div class="col-xs-3">
						<a ui-sref="provprojects" class="btn btn-danger btn-block">&nbsp;&nbsp;Cancelar</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>