<style>
	.ngdialog.ngdialog-theme-default .ngdialog-content {
		width: 50%;

		overflow:scroll;
		padding: 2em !important;
	}
	.form-group {
		margin-bottom: 0;
	}
</style>
<div class="container" style="width:100%;height:100%">
	<div class="row">
		<h4 class="text text-primary">{{ 'SRV-INSTANCE' | translate }}</h4>
		<h4><small>{{ 'SRV-SERVEI' | translate }} </small><span class="text text-default">{{instancesrv.service.srv.name}}</span> - <small>Proveidor</small> {{instancesrv.service.srv.services[0].provider.name}}</h4>
		<br/>
		<h4><small ng-show="instancesrv.form.length>0">{{ 'CUSTOMER-PARAMS' | translate }}</small></h4>
		<div class="top2">
		    <form name="instantiate_service">
		    	<div sf-schema="instancesrv.schema" sf-form="instancesrv.form" sf-model="instancesrv.model"></div>
		    	<div class="row">
		    		<div class="col-xs-3 col-xs-offset-3">
			    		<button class="btn btn-primary btn-sm btn-block"
									ng-disabled="instantiate_service.$invalid"
									ng-click="instancesrv.InstantiateSrv(instancesrv.model); instancesrv.hideInstantiateButton(instancesrv.service)"
									type="submit">{{ 'SRV-INSTANCE' | translate }}
							</button>
						</div>
			    	<div class="col-xs-3">
			    		<button class="btn btn-default btn-sm btn-block" ng-click="instancesrv.closeDialog()" type="button">Cancelar</button>
			    	</div>
		    	</div>
		    </form>
				<div class="row">
					<span us-spinner="{radius:15, width:8, length: 10}" spinner-key="spinner-33"></span>
				</div>
		</div>
	</div>
</div>
